html, body {
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 25px;
}

.wrapper {
	padding: 50px;
}

.page {
}

// 11111111 ====================================================================================================//

.menu {

	li {
		position: relative;
	}

		&__list {
			display: flex;
			>li {
				margin: 0px 10px 0px 0px;
			}
		}

		&__link {
		}
}

// 222222 ====================================================================================================//

.sub-menu {

		&__list {
			display: none;
			min-width: 300px;
			position: absolute;
			top: 20px;
			padding: 20px 0px 0px 0px;   //!!! нужен чтобы убрать разрыв
			left: 0;
			>li {
				background-color: #fff;
			}
		}

		&__link {
			color: #000;
			display: inline-block;
			padding: 5px 10px;
		}
}

// arrow ====================================================================================================//

.menu {

	&__arrow {
	}
}
.arrow {  //!!! Рисуем треугольник
	display: none;
	position: absolute;
	right: 0;
	top: 9px;
	width: 0;
	height: 0;
	border-top: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	transition: all 0.3s ease 0s;
	li._active &{
			transform: rotate(-180deg);
	}
}


body._pc .menu__list>li:hover .sub-menu__list {  //!!! Только при открытии на ПК
	display: block;
}
body._pc .sub-menu__list>li:hover .sub-sub-menu__list {  //!!! Только при открытии на ПК
	display: block;
}

body._pc a:hover {
	text-decoration: underline;
}

li._active .sub-menu__list {
	display: block;
}

body._touch .menu__link {
	margin: 0px 25px 0px 0px;
}

li._active .sub-menu__list {
	display: block;
}

body._touch .arrow {
	display: block;
}